@tailwind base;
@tailwind components;

.tooltip {
  @apply absolute invisible;
}

.has-tooltip:hover .tooltip {
  @apply z-50 visible;
}

.nm-10 {
  margin: 0 -10px;
}

#my-chart .bar {
  --color: red;
  --labels-size: 150px;
  --labels-align-inline: start;
  --labels-align-block: center;
}

@tailwind utilities;
